<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069399074361-s89j162vr3m1nsddjuqcmgdldkk55a9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069399074361-s89j162vr3m1nsddjuqcmgdldkk55a9m</string>
	<key>API_KEY</key>
	<string>AIzaSyBEiJ0d9fIa5JYddN7LgFSosEjq3KEQ1i4</string>
	<key>GCM_SENDER_ID</key>
	<string>1069399074361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.karhabtiPfe</string>
	<key>PROJECT_ID</key>
	<string>karhabti-50d8b</string>
	<key>STORAGE_BUCKET</key>
	<string>karhabti-50d8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069399074361:ios:3fe9f1a2b74ee62468cfe8</string>
</dict>
</plist>